
<div class="socials">
    <a href="https://github.com/AnnaVi11arrea1" target="_blank"><i class="fa-brands fa-github"></i></a>
    <a href="https://www.linkedin.com/in/anna-villarreal-38254b258/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
    <a href="https://dev.to/annavi11arrea1" target="_blank"><i class="fa-brands fa-dev"></i></a>
</div>
<!--<div class="grey">
    <div class="mycard">
        <div class="info">
            <h1>Anna Villarreal</h1>
            <p>Web/Fullstack Developer, Graphic Artist, Entreprenuer</p>
        </div>
    </div>
</div> -->

<h3 style="justify-self:center;">Hello! Thank you for visiting!</h3>


<div class="cube-container">
    <input class="radio-button" type="radio" name="cube-gallery" checked/>
    <input class="radio-button" type="radio" name="cube-gallery"/>
    <input class="radio-button" type="radio" name="cube-gallery"/>
    <input class="radio-button" type="radio" name="cube-gallery"/>
    <input class="radio-button" type="radio" name="cube-gallery"/>
    <input class="radio-button" type="radio" name="cube-gallery"/>
    <div class="cube">
        <div class="cube-side col">
            <div class="mycard">
                <div class="info", style="justify-content:center;">
                    <h3>Anna Villarreal</h3>
                </div>
            </div>   
        </div>
            <div class="cube-side col">
            <div class="mycard2">
                <div style="background-color:rgba(0,0,0,0.5); padding: 10px;">
                    <h1>Small Business Owner</h1>
                </div>
            </div>   
        </div>
            <div class="cube-side col">
            <div class="mycard3">
                <div class="info">
                </div>
            </div>   
        </div>
            <div class="cube-side col">
            <div class="mycard4">
                <div class="info", style="justify-content:center;">
                    <h2 >DEV award</h2>
                    
                </div>
            </div>   
        </div>
            <div class="cube-side col">
            <div class="mycard5">
                <h3>Discovery Partners Institute Alumni</h3>
                <%= image_tag "dpi.png", style:"width:100%; height:auto; align-self:center;", alt:"dpi"%>
            </div>   
        </div>
            <div class="cube-side col">
            <div class="mycard6">
                <div class="info">
                    <p>Web/Fullstack Developer, Graphic Artist, Entreprenuer</p>
                </div>
            </div>   
        </div>
    </div>
</div>