
<div class="socials">
    <a href="https://github.com/AnnaVi11arrea1" target="_blank"><i class="fa-brands fa-github"></i></a>
    <a href="https://www.linkedin.com/in/anna-villarreal-38254b258/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
    <a href="https://dev.to/annavi11arrea1" target="_blank"><i class="fa-brands fa-dev"></i></a>
</div>
<div class="grey">
    <div class="mycard">
        <div class="info">
            <h1>Anna Villarreal</h1>
            <p>Web/Fullstack Developer, Graphic Artist, Entreprenuer</p>
        </div>
    </div>
</div>

<h3 style="justify-self:center;">Hello! Thank you for visiting!</h3>